<h1><%=@user.username%>'s Conversations.</h1>
<br>
<% if @conversations.size == 0 %>
  <div class="center-window">
      <h3>You Have no Conversations :( <a href="/conversations/new">Start One Now!!</a></h3>
  </div>
<% else %>
  <% @conversations.each do |conversation| %>
    <div class="message">
      <div class="message-content">
        <a href="/conversations/<%=conversation.id%>"><%= conversation.name %></a>
      </div>
      <div class="last-message">
        <%= conversation.messages.last.content %>
      </div>
      <div class="message-time">
        <%= conversation.updated_at if conversation.updated_at %>
      </div>
      <a class="left-pannel" href="/conversations/<%=conversation.id%>/edit">Edit Conversation</a>
      <form action="/conversations/<%=conversation.id%>/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <div class="right-pannel">
          <input type="submit" name="Delete" value="Delete Conversation">
        </div>
      </form>
    </div>
  <% end %>
<% end %>
