<h1><%=@user.username%>'s Conversations.</h1>
<br>
<% if @conversations.size == 0 %>
  <div class="center-window">
      <h3>You Have no Conversations :( <a href="/conversations/new">Start One Now!!</a></h3>
  </div>
<% else %>
<% if flash[:message] %>
  <h3 class="flash"><%= flash[:message] %></h3>
<% end %>
  <% @conversations.each do |conversation| %>
    <div class="message">
      <div class="button">
        <h3><a class="edit" href="/conversations/<%=conversation.id%>/edit">Edit Conversation</a></h3>
      </div>
      <br>
      <br>
      <form action="/conversations/<%=conversation.id%>/delete" method="post">
        <input type="hidden" name="_method" value="DELETE">
        <input class="delete" type="submit" name="Delete" value="Delete Conversation">
      </form>
      <div class="message-content">
        <a href="/conversations/<%=conversation.id%>"><%= conversation.name %></a>
      </div>
      <% if conversation.messages.size > 0 %>
        <div class="last-message">
          <%= conversation.messages.last.content %>
        </div>
      <% end %>
      <div class="message-time">
        <%= conversation.updated_at if conversation.updated_at %>
      </div>

    </div>
  <% end %>
<% end %>
