<h1 id="message-header"><%=@convo.name%></h1>

<!-- shows flash messages if there are any -->
<% if flash[:message] %>
  <h3 class="flash"><%= flash[:message] %></h3>
<% end %>

<br>

<!-- displays each message in the current conversation -->
<div id="message-thread">
  <% @messages.each do |message| %>
    <div class="message">
      <div class="message-content"><%= message.content %></div>
      <div class="message-user">
        <!-- if the message is from current user than the username will diplay as "Me" and there will be buttons to edit/delete the message -->
        <% if message.user == @user %>
          <div class="button">
            <h3><a class="edit" href="/messages/<%=message.id%>/edit">Edit</a></h3>
          </div>
          <br>
          <br>
          <form action="/messages/<%=message.id%>/delete" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="convo" value="<%=message.conversation.id%>">
            <input type="hidden" name="message" value="<%=message.id%>">
            <input class="delete" type="submit" name="Delete" value="Delete">
          </form>
          <br>
          <br>
          Me
        <% else %>
          <%= message.user.username %>
        <% end %>
      </div>
      <div class="message-time"><%= message.created_at %></div>
    </div>
    <br>
  <% end %>
</div>

<!-- message bar(form) acts similarly to what would be expected of the new message view file -->
<form class="new-message" action="/messages" method="post">
  <input type="hidden" name="user" value="<%=@user.id%>">
  <input type="hidden" name="conversation" value="<%=@convo.id%>">
  <input id="message-bar" type="text" name="message" placeholder="Send a Message">
  <input id="send" type="submit" name="Send" value="Send">
</form>
<script type="text/javascript" src="/javascripts/sticky-header.js"></script>
