<h2><%=current_user.username%>'s Profile Page :).</h2>
<div class="left-pannel">
    <a class="profile-titles" href="/users">Friends</a>
    <!-- <div class="add"> -->
      <a class="add" href="/users/new"> + </a>
    <!-- </div> -->

    <br>
    <% @friends.each do |friend| %>
      <br>
      <li><a href="/users/<%=friend.id%>"><%=friend.username%></a></li>
    <% end %>
</div>
<div class="right-pannel">
    <a class="profile-titles" href="/conversations">Conversations</a>
    <a class="add" href="/conversations/new"> + </a>
    <br>
    <% @conversations.each do |convo| %>
      <br>
      <li><a href="/conversations/<%=convo.id%>"><%=convo.name%></a></li>
    <% end %>
</div>
